<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.varsh.projectthreeapp3">

    <permission android:name="edu.uic.cs478.f18.project3"
        android:description="@string/permissionDescription"
        android:label="project3 permission"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="edu.uic.cs478.f18.project3"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
       >
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SF"
            android:configChanges="orientation|screenLayout|screenSize"/>
        <activity android:name=".NY"/>

        <receiver
            android:label="ForeignReceiver"
            android:enabled="true"
            android:name="ForeignReceiver"
            android:exported="true"
            android:permission="edu.uic.cs478.f18.project3">
            <intent-filter android:priority="10">
                <action android:name="com.example.varsh.projectthreeapp1.SAN FRANSISCO">
                </action>
                <action android:name="com.example.varsh.projectthreeapp1.NEW YORK">
                </action>
            </intent-filter>
        </receiver>

    </application>

</manifest>